attrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
cftime==1.6.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
et-xmlfile==1.1.0
Fiona==1.8.21
fonttools==4.36.0
geopandas==0.11.1
h3==3.7.4
importlib-metadata==4.12.0
kiwisolver==1.4.4
matplotlib==3.5.3
munch==2.5.0
netCDF4==1.6.0
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
PseudoNetCDF==3.2.2
pycparser==2.21
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
scipy==1.9.0
Shapely==1.8.4
six==1.16.0
timezonefinder==6.1.1
zipp==3.8.1
